/*表单样式*/
.form-control {
    height: 37px;
    padding: 6px 12px !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
   /* border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.btn {
    display: inline-block;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 14px;
    height: 37px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #49a4de;
    color:#fff;
    font-family: '宋体';
}
.btn:hover{
    background-color:#4BB6DE ;
}
/*表单验证信息*/
.error{
    border:1px solid #eb7d7d;
}
.help-block{
    border:0;
    color:red;
    font-family: '宋体';
    font-size: 12px;
    margin:10px 0  0 0;
    display: block;
}
label{
    color:#333333;
    font-weight: 600;
}
.start{
    color:#999;
    margin-right: 8px;
}

.input-div{
    margin-bottom: 18px;
}
.label-div{
    min-width:100px;
    display: inline-block;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    height: 37px;
    border-color:#ddd;
    line-height: 37px;
    text-align: right;
    padding-right: 10px;
    margin-right: 0;
    float: left;
    background-color: #f6f6f6;
}
.label-input{
    float: left;
    width: 321px;
}
.label-input input{
    width: 100%;
}